<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>more</title>
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/vnd.microsoft.icon"/>
    <link rel="stylesheet" href="../static/css/cssreset-min.css">
    <link rel="stylesheet" href="../static/css/swiper.min.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/more.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]><script src="../static/js/html5shiv.min.js"></script><script src="../static/js/respond.min.js"></script><![endif]-->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/swiper.min.js"></script>
</head>
<body>
<nav>
    <ul>
        <li><a href="../index.html"><span></span></a></li>
        <li>
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
            <div></div>
        </li>
        <li><span></span>
            <div></div>
        </li>
        <li><a href="search.html">查找影院</a>
            <div></div>
        </li>
        <li><a href="more.html">IMAX电影</a>
            <div></div>
        </li>
        <li><a href="special.html">IMAX特点</a>
            <div></div>
        </li>
        <div class="header_hide">
            <p>语言666</p>
            <p>关于IMAX</p>
            <p>联系我们</p>
            <p>工作机会</p>
            <p>
                <img src="../static/img/guWeibo1.png" alt="">
                <img src="../static/img/guweixin1.png" alt="">
                <img src="../static/img/guYouku2.png" alt="">
            </p>
        </div>
    </ul>
    <ul>
        <li>
            <a href="special.html">IMAX特点</a>
        </li>
        <li>
            <a href="more.html">IMAX电影</a>
        </li>
        <li>
            <a href="search.html">查找影院</a>
        </li>

    </ul>
</nav>
<!-- Swiper -->
<div class="swiper-container">
    <div class="banner_live">
        <p>体验IMAX</p>
    </div>
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="../static/img/mbanner1.jpg" alt=""></div>
        <div class="swiper-slide"><img src="../static/img/mbanner2.jpg" alt=""></div>
        <div class="swiper-slide"><img src="../static/img/mbanner3.jpg" alt=""></div>
        <div class="swiper-slide"><img src="../static/img/mbanner4.jpg" alt=""></div>
        <div class="swiper-slide"><img src="../static/img/mbanner5.jpg" alt=""></div>
        <div class="swiper-slide"><img src="../static/img/mbanner6.jpg" alt=""></div>

    </div>

    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>

<section class="main">
    <div class="banner_live">
        <p>更多电影</p>
    </div>
    <ul>
        <li>
            <img src="../static/img/more1.jpg" alt="">
            <div>
                <h3>即将上映</h3>
                <h1><a href="javascript:;">但丁密码</a></h1>
                <a href="javascript:;" class="main_more">更多详情<span class="main_more_hide"></span>
                </a>
            </div>
        </li>
        <li>
            <img src="../static/img/more2.jpg" alt="">

            <div>
                <h3>即将上映</h3>
                <h1><a href="javascript:;">奇异博士</a></h1>
                <a href="javascript:;" class="main_more">更多详情<span class="main_more_hide"></span></a>

            </div>
        </li>
        <li>
            <img src="../static/img/more3.jpg" alt="">

            <div>
                <h3>即将上映</h3>
                <h1><a href="javascript:;">神奇动物在哪里</a></h1>
                <a href="javascript:;" class="main_more">更多详情<span class="main_more_hide"></span></a>
            </div>
        </li>
        <li>
            <img src="../static/img/more4.jpg" alt="">

            <div>
                <h3>即将上映</h3>
                <h1><a href="javascript:;">侠盗一号：星球大战外传</a></h1>
                <a href="javascript:;" class="main_more">更多详情<span class="main_more_hide"></span></a>
            </div>
        </li>
        <li>
            <img src="../static/img/more5.jpg" alt="">

            <div>
                <h3>即将上映</h3>
                <h1><a href="javascript:;">长城</a></h1>
                <a href="javascript:;" class="main_more">更多详情<span class="main_more_hide"></span></a>
            </div>
        </li>
        <li>
            <img src="../static/img/more6.jpg" alt="">

            <div>
                <h3>即将上映</h3>
                <h1><a href="javascript:;">美女与野兽</a></h1>
                <a href="javascript:;" class="main_more">更多详情<span class="main_more_hide"></span></a>
            </div>
        </li>
        <li>
            <img src="../static/img/more7.jpg" alt="">

            <div>
                <h3>即将上映</h3>
                <h1><a href="javascript:;">逗鸟外传：萌宝满天飞</a></h1>
                <a href="javascript:;" class="main_more">更多详情<span class="main_more_hide"></span></a>
            </div>
        </li>
        <li>
            <img src="../static/img/more8.jpg" alt="">

            <div>
                <h3>即将上映</h3>
                <h1><a href="javascript:;">我的战争</a></h1>
                <a href="javascript:;" class="main_more">更多详情<span class="main_more_hide"></span></a>
            </div>
        </li>
        <li>
            <img src="../static/img/more9.jpg" alt="">

            <div>
                <h3>即将上映</h3>
                <h1><a href="javascript:;">冰川时代5：星际碰撞</a></h1>
                <a href="javascript:;" class="main_more">更多详情<span class="main_more_hide"></span></a>
            </div>
        </li>
        <li>
            <img src="../static/img/more10.jpg" alt="">

            <div>
                <h3>即将上映</h3>
                <h1><a href="javascript:;">谍影重重5</a></h1>
                <a href="javascript:;" class="main_more">更多详情<span class="main_more_hide"></span></a>
            </div>
        </li>
        <li>
            <img src="../static/img/more11.jpg" alt="">

            <div>
                <h3>即将上映</h3>
                <h1><a href="javascript:;">火海凌云</a></h1>
                <a href="javascript:;" class="main_more">更多详情<span class="main_more_hide"></span></a>
            </div>
        </li>
        <li>
            <img src="../static/img/more12.jpg" alt="">

            <div>
                <h3>即将上映</h3>
                <h1><a href="javascript:;">盗墓笔记</a></h1>
                <a href="javascript:;" class="main_more">更多详情<span class="main_more_hide"></span></a>
            </div>
        </li>

    </ul>
    <div class="main_bottom">
        <button>更 多 电 影</button>
    </div>

</section>
<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        loop: true
    });
</script>
<script src="../static/js/list.js"></script>
<footer>
    <div class="footer_icon">
        <div>
            <a href="javascript:;"><img src="../static/img/guWibo2.png" alt=""></a>
            <a href="javascript:;"><img src="../static/img/guWixin2.png" alt=""></a>
            <a href="javascript:;"><img src="../static/img/guYouku.png" alt=""></a>
        </div>
    </div>
    <p>IMAX®和The IMAX Experience®是IMAX公司的注册商标</p>
    <p>
        <a href="javascript:;">使&nbsp;用&nbsp;条&nbsp;款</a>
        <a href="javascript:;">隐&nbsp;私&nbsp;政&nbsp;策</a>
    </p>
    <p>
        <span>
            <img src="../static/img/new-china-license.png" alt="">
            <a href="javascript:;">沪ICP备11045714号</a>
        </span>
        <span>
            <img src="../static/img/ghs.png" alt="">
            <a href="javascript:;">沪公网安备 31010102002067号</a>
        </span>
    </p>

</footer>
<script src="../static/js/init.js"></script>
</body>
</html>